@font-face {
	font-family: 'MontserratAlternates';
	src: url('../../assets/fonts/MontserratAlternates.ttf');
}

@font-face {
	font-family: 'MontserratAlternatesBold';
	src: url('../../assets/fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
	font-family: 'MontserratAlternatesSemiBold';
	src: url('../../assets/fonts/MontserratAlternates-SemiBold.ttf');
}

@font-face {
	font-family: 'MontserratAlternatesLight';
	src: url('../../assets/fonts/MontserratAlternates-Light.ttf');
}

@font-face {
	font-family: 'MontserratAlternatesMedium';
	src: url('../../assets/fonts/MontserratAlternates-Medium.ttf');
}